*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url(MaterialeEsercizioLim/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  border: 0px solid;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3%;
  width: 63%;
  margin: auto;
  margin-top: 20px;
  padding: 5%;

}

header{
  text-align: center;
}

.logo{
  width: 200px;
}

.font-logo{
  color: lime;
}

nav{
  text-align: center;
  background-color: lime;
  width: 100%;
  margin: auto;
  padding: 7px;
}

div > h3{
  display: inline-block;
}

.info{
  color: white;
  margin-top: 15px;
}

.carica-gino{
  background-color: orange;
  width: 40%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 3%;
}

.carica-mike{
  background-color: green;
  width: 60%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 3%;
}

.carica-fede{
  background-color: red;
  width: 15%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 3%;
}
